* {
  padding: 0%;
  margin: 0%;
}

* {
  scroll-behavior: smooth;
}

/* .home{
 background-color:#7CB9E8 !important );
} */
.home {
  min-height: 92vh;
  /* background-color: #7cb9e8; */
  background-color: #348bce;
}

.Detail {
  border: 1px solid;
  min-height: 100vh;
  background-color: #043b64;
  color: aliceblue;
  /* background-color: #1d94f0; */
  /* background-color: rgba(243, 45, 45, 0.938); */
}

.button_submit {
  background-color: #0e00d3 !important;
  color: #f0f8ff !important;
}

.Footer {
  background-color: black;
  min-height: 20vh;
  color: aliceblue;
}

/* .featurepic {
  width: 15px !important;
  height: 15px !important;
} */